html {
    scroll-behavior: smooth;
}

.nav-link.active {
    border-bottom: 1px solid black !important;
    padding: 0;
}

.nav-link {
    color: black !important;
}

.readme-icon {
    width: 8%;
}
